body {
    padding: 0;
    margin: 0;
    background: url('./images/Screen.png');
    
}
#background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.card {
    width: 200px;
    height: 200px;
    background: rgba(225, 193, 255, 0.253);
    margin: 20px;
    cursor: pointer;
}

.cube {
    visibility: hidden;
}
#endScreen {
    width: 400px;
    height: 400px;
    font-size: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
}
#restartBtn, #start {
    width: 200px;
    height: 80px;
    color: #263B6A;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-80%, -50%);
}
